.container {
  min-height: 100vh;
  padding: 20px 40px;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  background-color: #282c34;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homelink {
  margin: 0;
  color: #61dafb;
}

.homelink:hover {
  color: #ffffff;
}

.signlink {
  text-decoration: none;
}

.separator {
  margin: 0 20px;
  font-weight: 900;
}

.signform {
  display: flex;
  flex-direction: column;    
  align-items: center;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  border: 5px solid #61dafb;
  border-radius: 30px;
}

.signform__title {
  margin: 0 0 20px;
  font-weight: 900;
  color: #61dafb;
}

.signform__group {
  display: flex;
  align-items: center;
  margin: 0 0 30px;
}

.signform__group p {
  display: inline-block;
  margin-right: 20px;
}

.signform__group a {
  margin: 0;
}

.signform__input {
  width: 60%;
  margin: 0 0 20px;
  padding: 10px 15px;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  background-color: #61dafb;
  border: 5px solid #ffffff;
  border-radius: 15px;
  outline: none;
}

.signform__input::placeholder {
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
}

.signform__input:focus {
  background-color: #ffffff;
  border-color: #61dafb;
}

input:not(:placeholder-shown) {
  background-color: #ffffff;
  border-color: #61dafb;
}

.signform__message {
  margin-bottom: 20px;
  font-style: italic;
  color: #ff0000;
}

.signform__button {
  margin: 30px 0 0;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  border: 5px solid #ffffff;
  border-radius: 15px;
}

.signform__button:hover {
  color: #ffffff;
  background-color: #61dafb;
  border-color: #61dafb;
}

.nopage {
  padding: 20px 0;
  text-align: center;
}

.nopage__text {
  margin-bottom: 40px;
}

.profile {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  border: 5px solid #61dafb;
  border-radius: 30px;
}

.profile__userdata {
  margin: 20px 0;
}
